USE [master]
GO
/****** Object:  Database [self-checkin]    Script Date: 6/1/2023 11:53:27 AM ******/
CREATE DATABASE [self-checkin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'gymlog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLVEGA\MSSQL\DATA\gymlog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'gymlog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLVEGA\MSSQL\DATA\gymlog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [self-checkin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [self-checkin]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 6/1/2023 11:53:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[phone] [nvarchar](12) NOT NULL,
	[emergencyName] [nvarchar](50) NOT NULL,
	[emergencyPhone] [nvarchar](12) NOT NULL,
	[birthdate] [date] NOT NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customerDetail]    Script Date: 6/1/2023 11:53:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customerDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[assistanceDate] [date] NOT NULL,
	[customerId] [int] NOT NULL,
 CONSTRAINT [PK_customerDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[site]    Script Date: 6/1/2023 11:53:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[site](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_site] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 6/1/2023 11:53:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(100,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](12) NOT NULL,
	[contactPhone] [nvarchar](12) NOT NULL,
	[hiringDate] [date] NOT NULL,
	[username] [nvarchar](20) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userDetail]    Script Date: 6/1/2023 11:53:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginDate] [date] NOT NULL,
	[userId] [int] NOT NULL,
	[siteId] [int] NOT NULL,
 CONSTRAINT [PK_userDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[customerDetail]  WITH CHECK ADD  CONSTRAINT [FK_customerDetail_customer] FOREIGN KEY([customerId])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[customerDetail] CHECK CONSTRAINT [FK_customerDetail_customer]
GO
ALTER TABLE [dbo].[userDetail]  WITH CHECK ADD  CONSTRAINT [FK_userDetail_site] FOREIGN KEY([siteId])
REFERENCES [dbo].[site] ([id])
GO
ALTER TABLE [dbo].[userDetail] CHECK CONSTRAINT [FK_userDetail_site]
GO
ALTER TABLE [dbo].[userDetail]  WITH CHECK ADD  CONSTRAINT [FK_userDetail_user] FOREIGN KEY([userId])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[userDetail] CHECK CONSTRAINT [FK_userDetail_user]
GO
USE [master]
GO
